Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  readability-const-return-type,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-string-cstr
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*/)(apps|benchmarks|examples|include|modules|support)/'
FormatStyle: file
